html
tmpl
xml

html-build.stamp
html.stamp
sgml.stamp
tmpl.stamp
scan-build.stamp
sgml-build.stamp
tmpl-build.stamp

swfdec-decl-list.txt
swfdec-decl-list.txt.bak
swfdec-decl.txt
swfdec-decl.txt.bak
swfdec-undocumented.txt
swfdec-unused.txt
swfdec.args
swfdec.hierarchy
swfdec.interfaces
swfdec.prerequisites
swfdec.signals
